
body {
    padding: .5rem 2rem;
    font-family: sans-serif
}

label {
    width: 5rem;
    float: left;
}

form.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.container.input {
    display: flex;
    width: 60%;
}

.container.input.three>input {
    width: 33%;
}

.container.input.four>input {
    width: 25%
}


.form-section {
    display: grid;
    grid-template-rows: 1rem repeat(8, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.form-section>h3 {
    grid-column: 1 / -1;
}